MIRealApp/*.iml
MIRealApp/.gradle
MIRealApp/local.properties
MIRealApp/.idea/caches
MIRealApp/.idea/libraries
MIRealApp/.idea/modules.xml
MIRealApp/.idea/workspace.xml
MIRealApp/.idea/navEditor.xml
MIRealApp/.idea/assetWizardSettings.xml
MIRealApp/.DS_Store
MIRealApp/build
MIRealApp/captures
MIRealApp/.externalNativeBuild
MIRealApp/.cxx

BrandoxCalculator/*.iml
BrandoxCalculator/.gradle
BrandoxCalculator/local.properties
BrandoxCalculator/.idea/caches
BrandoxCalculator/.idea/libraries
BrandoxCalculator/.idea/modules.xml
BrandoxCalculator/.idea/workspace.xml
BrandoxCalculator/.idea/navEditor.xml
BrandoxCalculator/.idea/assetWizardSettings.xml
BrandoxCalculator/.DS_Store
BrandoxCalculator/build
BrandoxCalculator/captures
BrandoxCalculator/.externalNativeBuild
BrandoxCalculator/.cxx


